<ul>
    <li ng-repeat="movie in ctrl.MovieModel.myMovieList">
        <a href="" ng-click="ctrl.openModal(movie.movieId)">{{movie}}</a>
    </li>
</ul>

<script type="text/ng-template" id="movieDetailModal.html">

    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <div movie-detail-component show-wish-list-btn="{{false}}"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="modalCtrl.ok()">OK</button>
        <button class="btn btn-warning" ng-click="modalCtrl.cancel()">Cancel</button>
    </div>
</script>