<h1>User Registration</h1>


{{regCtrl.model | json}}

<form name="regCtrl.form" class="form-horizontal" novalidate ng-submit="regCtrl.form.$valid && regCtrl.submit()">
    <fieldset>

        <legend>Form Name</legend>

        <div class="form-group" validation="myName">
            <label class="col-md-4 control-label" for="myName">Name</label>
            <div class="col-md-4" >
                <input id="myName"
                       name="myName"
                       type="text"
                       placeholder="placeholder"
                       class="form-control input-md"
                       ng-model="regCtrl.model.name"
                       required
                       ng-maxlength="10"
                       ng-minlength="2">
                <div messages="myName" show-multiple-messages="true">
                    <span ng-message="required">You did not enter a field</span>
                    <span ng-message="minlength">Your field is too short</span>
                    <span ng-message="maxlength">Your field is too long</span>
                </div>
            </div>
        </div>


        <div class="form-group" validation="age">
            <label class="col-md-4 control-label" for="age">Age</label>
            <div class="col-md-4" >
                <input id="age"
                       name="age"
                       type="text"
                       placeholder="placeholder"
                       class="form-control input-md"
                       ng-model="regCtrl.model.age"
                       required
                       integer
                       greater="10"
                       number-format="0"
                       >
                <div messages="age" show-multiple-messages="true">
                    <span ng-message="required">You did not enter a field</span>
                    <span ng-message="integer">Please provide an integer</span>
                    <span ng-message="greater">You must be older than 10</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Single Button</label>

            <div class="col-md-4">
                <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary">Button</button>
                <button type="button" class="btn btn-default" ng-click="regCtrl.form.$reset(); regCtrl.reset()">Reset
                </button>
            </div>
        </div>

    </fieldset>
</form>