<h2>Movie Details</h2>
<br>

<h3>{{detailCtrl.currentMovie.Title}}
    <small>{{detailCtrl.currentMovie.Year}}</small>
</h3>

<button class="btn btn-default"
        ng-if="detailCtrl.showWishListBtn"
        ng-click="detailCtrl.saveToMyList()">
    <span class="glyphicon glyphicon-star"></span>
    Save To My List
</button>

<table class="table table-striped">
    <tr>
        <td>Plot</td>
        <td>{{detailCtrl.currentMovie.Plot}}</td>
    </tr>
    <tr>
        <td>Released</td>
        <td>{{detailCtrl.currentMovie.Released}}</td>
    </tr>
    <tr>
        <td>Runtime</td>
        <td>{{detailCtrl.currentMovie.Runtime}}</td>
    </tr>

    <tr>
        <td>IMDB</td>
        <td>
            <rating ng-model="detailCtrl.currentMovie.imdbRating"
                    max="10"
                    readonly="true"
                    readonly="isReadonly"></rating>
        </td>
    </tr>
    <tr>
        <td>Poster</td>
        <td><img class="img-rounded" ng-src="{{detailCtrl.currentMovie.Poster}}"/></td>
    </tr>
</table>