<div>
    <div class="form-error-messages" ng-if="ctrl.showMultipleMessages">
        <div ng-messages="ctrl.form[ctrl.fieldName].$error"
             ng-messages-multiple
             ng-show="ctrl.form.$submitted || ctrl.form[ctrl.fieldName].$touched || ctrl.form[ctrl.fieldName].$dirty"
             ng-transclude>
        </div>
    </div>
    <div class="form-error-messages" ng-if="!ctrl.showMultipleMessages">
        <div ng-messages="ctrl.form[ctrl.fieldName].$error"
             ng-show="ctrl.form.$submitted || ctrl.form[ctrl.fieldName].$touched || ctrl.form[ctrl.fieldName].$dirty"
             ng-transclude>
        </div>
    </div>
</div>

